@import "tailwindcss";

* {
  min-width: 0;
  min-height: 0;
}

body {
  font-family: "Circular Std";
}

button {
  cursor: pointer;
}

@font-face {
  font-family: "Circular Std";
  src: url("./fonts/CircularStd-Book.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Circular Std";
  src: url("./fonts/CircularStd-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Circular Std";
  src: url("./fonts/CircularStd-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Circular Std";
  src: url("./fonts/CircularStd-Black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
}
