@import "tailwindcss";

@theme {
  --font-sans: "Circular Std", sans-serif;
  --font-mono: "Circular Mono", monospace;
}

* {
  min-width: 0;
  min-height: 0;
}

body {
  font-family: "Circular Std";
}

button {
  cursor: pointer;
}

.scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.scrollbar {
  &::-webkit-scrollbar {
    background-color: transparent !important;
    width: 15px;
  }

  &::-webkit-scrollbar-track {
    background-color: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #334155;

    &:hover {
      background-color: rgba(255, 255, 255, 0.2);
    }

    border-radius: 16px;
    border: 5px solid transparent;
    background-clip: content-box;
  }
}

@font-face {
  font-family: "Circular Std";
  src: url("./fonts/CircularStd-Book.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Circular Std";
  src: url("./fonts/CircularStd-BookItalic.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Circular Std";
  src: url("./fonts/CircularStd-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Circular Std";
  src: url("./fonts/CircularStd-MediumItalic.woff2") format("woff2");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Circular Std";
  src: url("./fonts/CircularStd-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Circular Std";
  src: url("./fonts/CircularStd-BoldItalic.woff2") format("woff2");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "Circular Std";
  src: url("./fonts/CircularStd-Black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Circular Std";
  src: url("./fonts/CircularStd-BlackItalic.woff2") format("woff2");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: "Circular Mono";
  src: url("./fonts/CircularMono-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
